body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #24246c;
    min-height: 100vh;
  }

  .logo{
    position: absolute;
    top: 4%;
    width: 340px;
    left: 2%;
   }