body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB; /* updated background color */
    font-family: Arial, sans-serif;
}
.logo{
 position: absolute;
 top: -10%;
 width: 340px;
 left: 2%;

}
.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
}
.btn-group a {
    background-color: #0074D9;
    border: none;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    height: 150px;
    margin: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group a:hover {
    background-color: #0056b3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 768px) {
    .btn-group a {
        width: 100%;
    }
}