body{
	background: ;
	color: white;
	width: 100%;
	text-align: center;

}


nav{
    width: auto;
    padding:0;
    margin-left: -15px;
    margin-top: -15px;
    background: #151719;
	color: #C70039;
	
	
}
li{
	list-style: none;
}
.submit{
	justify-content: center;
	align-items: center;
	position: ;
	margin-left: -50px;
}
.submit li{
	display: inline-block;
}
.submit .btn2{
	text-decoration: none;
	margin-top: 10px;
	text-align: center;
	justify-content: center;
    margin-left: 20px;
	background: rgb(13, 226, 13);
	border-radius: 10px;
	border: 1px solid silver;
	padding: 20px;
	border: none;
	color: white;
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
	width: 90%;
	display: flex;
}
nav ul{
	height: 400px;
	padding: 0;
	border: 1px solid red;
	background: #151719;
  text-decoration: none;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid red;
}
nav ul li a{
	text-decoration: none;
	display: inline-block;
	margin-left:;
	margin-top: -20px;
	color: silver;

}
nav ul li{
	border: 1px solid white;
	margin-left: 20px;
	padding: 10px 10px;
	height:;
}
 form{
 	justify-content: center;
  	width: 100%;
  	height: 100%;
    margin-top: 40px;
 	display: flex;
 }

 #wrapper{
 	display: flex;
 	border: 2px solid red;
 	background: #151719;
 	justify-content: center;
 	width: 500px;
 }

 .btn{
 	text-decoration: none;
	margin-top: 10px;
	text-align: center;
	justify-content: center;
    margin-left: 20px;
	background: rgb(170, 0, 0);
	border-radius: 10px;
	border: 1px solid silver;
	padding: 20px;
	border: none;
	color: white;
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
	width: 70%;
	display: flex;
 }
 #btn:hover{
 	cursor: pointer;
 }
form input{
  margin-left: 20px;
  margin-top: 50px;
  width: 100%;
}
.info input{
	padding: 10px;
	outline: none;
}
#DropOp{
	width: 100%;

}

.info{
	display: flex;
	width: 100%;
	text-align: center;

}
.info p{
	padding: 2px solid red;
	margin: 0;
	margin-top: 20px;
	justify-content: center;
	font-family: mosnospace, sans-serif;
	position: absolute;
	text-align: center;
	margin-top:;
	margin-left: 100px;
	
}
select{
	margin-left: 20px;

}
#DropOp{
	padding: none;
	height: 20px;
	margin-top: 50px;
}

#date{
	width: 100%;
	height: 2.5vh;
}

.srh{
	display: flex;
}

textarea{
	margin-left: 20px;
    margin-top: 50px;
    text-align: left;
   
}

.info h3{
	text-align: center;
	margin-left: 75px;

	}

hr{
	position: absolute;
	width: 400px;
	margin-left: -140px;
}

